doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
        title= title 
    body  
        header 
            nav.navbar.navbar-dark.bg-primary
                a.navbar-brand(style="margin-left: 20px;") List Employee
                form.form-inline(action="")
                    input.from-control.mr-sm-2(type="search" placeholder="by ID,name,or email" aria-label="Search")
                    button.btn.btn-outline-light.my-2.my-sm-0(type="submit" style="margin-right: 40px;margin-left: 10px;") Search 
                    button#add.btn.btn-outline-light.my-2.my-sm-0(type="submit" style="margin-right: 10px;" formaction="/adduser") ADD

        .container-fluid 
            .card(style="margin-top: 80px")
            table.table.table-hovered.table-striped.table-bordered
                thead
                    tr.table-primary
                        td.text-center ID
                        td.text-center NAME
                        td.text-center EMAIL
                        td.text-center MOBILE
                        td.text-center ACTION
                tbody
                    each user in users
                        tr
                            td.text-center= user.id
                            td.text-center= user.name
                            td.text-center= user.email
                            td.text-center= user.mobile
                            td.text-center
                                a.btn.btn-success(type="submit") Detail
                                a.btn.btn-success(type="submit" style="margin-left: 10px;") Edit
                                a.btn.btn-danger(type="submit" style="margin-left: 10px;") Delete
                    else 
                        tr
                            td.text-center(colspan="5") empty
                
        script(src="javascripts/bootstrap.min.js")
        script(src="javascripts/jquery-3.6.0.min.js")